/* Responsive */
* {
  box-sizing: border-box;
}

body {
  font-family: impact, mono;
  font-size: 2.2em;
  background-color: black;
}

p {
  width: 40%; 
  margin: 0;
}

img {
  width: 40%;
  margin: 0 auto 0;
}

#current_time, #rpi_temp, p {
  color:grey;
  text-align: center;
}

#buttons {
  width: 80%;
  margin: 0 auto;
}

.button {
  display: inline-block;
  width: 20%;
  margin: 20px 0;
}

@media only screen and (max-width: 768px) {
  #buttons { 
    width: 90%;
  }
  .button { width: 90px; }
  img {
    width: 90px;
  }
  p {
    margin: 0 auto;
  }
}
